[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "apcluster"]
	path = apcluster
	url = https://github.com/ubod/apcluster
[submodule "kebabs"]
	path = kebabs
	url = https://github.com/ubod/kebabs
[submodule "podkat"]
	path = podkat
	url = https://github.com/ubod/podkat
[submodule "procoil"]
	path = procoil
	url = https://github.com/ubod/procoil
[submodule "rococo"]
	path = rococo
	url = https://github.com/ubod/rococo
