[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "apcluster"]
	path = apcluster
	url = https://github.com/ubod/apcluster
[submodule "rococo"]
	path = rococo
	url = https://github.com/ubod/rococo
